[Unit]
Description=Rover Info Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/info.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

