[Unit]
Description=Rover Head Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/head.py
Restart=on-failure

[Install]
WantedBy=multi-user.target